@model IEnumerable<Laboration2.Models.Hustyp>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Husen.css">


<h1>Husen</h1>

<p>
    <a asp-action="Create">Skapa Nu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hustypen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bildlänk)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hustypen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bildlänk)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
